<h1>Listing dishes</h1>

<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Price</th>
    <th>Rating</th>
    <th></th>
    <th></th>
  </tr>

<% @dishes.each do |dish| %>
  <tr>
    <td><%= link_to dish.name, dish %></td>
    <td><%= dish.category %></td>
    <td><%= dish.price %></td>
    <td><%= dish.rating %></td>
    <td><%= link_to 'Edit', edit_dish_path(dish) %></td>
    <td><%= link_to 'Destroy', dish, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br />

<% if user_signed_in? %>
<%= link_to 'New Dish', new_dish_path %>
<% end %>