<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @dish.name %>
</p>

<p>
  <b>Category:</b>
  <%= @dish.category %>
</p>

<p>
  <b>Price:</b>
  <%= @dish.price %>
</p>

<p>
  <b>Rating:</b>
  <%= @dish.rating %>
</p>


<% if user_signed_in? %>
<%= link_to 'Edit', edit_dish_path(@dish) %> |
<% end %>
<%= link_to 'Back', dishes_path %>
