<li>
	<address>
		<strong><%= link_to restaurant.name, :controller => "restaurants", :action => "show", :id => restaurant.slug %></td></strong>
		<br>
		<%= restaurant.street %>
		<br>
		<%= restaurant.city %>, <%= restaurant.state %> <%= restaurant.zipcode %>
	</address>
</li>