<li>
	<address>
		<strong><%= link_to restaurant.name, restaurant %></strong>
		<br>
		<%= restaurant.street %>
		<br>
		<%= restaurant.city %>, <%= restaurant.state %> <%= restaurant.zipcode %>
	</address>
</li>