<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div>
    <%= f.hidden_field :dish_id, value: @dish.id %>
  </div>

  <%= f.select :rating, options_for_select([["★★★★★", "5"], ["★★★★☆", "4"], ["★★★☆☆", "3"], ["★★☆☆☆", "2"], ["★☆☆☆☆", 1]]) %>

  <div class="field">
    <%= f.text_area :review, :id => "review-form", :rows => 10 %>
  </div>
  <div class="actions">
    <%= f.submit "Post Review", :class => "btn btn-large btn-primary pull-right" %>
  </div>
<% end %>
